/* Reset du margin et padding */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour la barre de navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2 px;
    z-index: 1000;
}


.logo img {
    height: 50px; /* Ajuste la taille du logo selon tes besoins */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Styles pour les sections */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.introduction {
    background-color: #333;
}

.offre {
    background-color: #444;
}

.qui-sommes-nous {
    background-color: #555;
}

.contact {
    background-color: #666;
}
