/* Reset du margin et padding */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/* Styles pour la barre de navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    height: 70px;
}


.logo img {
    height: 30px; /* Ajuste la taille du logo selon tes besoins */
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 50px; /* Décalage vers la gauche */
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Styles pour les sections */
.section {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-align: left;
    padding: 0 40px; /* Ajoute un peu de padding sur les côtés pour ne pas toucher les bords */
}



.introduction {
    background-color: #333; /* Couleur de fond de la section */
    color: #fff; /* Couleur du texte */
    padding: 0 40px; /* Padding des côtés */
}

.intro-content {
    display: flex;
    justify-content: space-between; /* Aligne le texte à gauche et le logo à droite */
    align-items: center;
    height: 100%; /* Remplit toute la hauteur de la section */
}

.intro-text {
    max-width: 40%; /* Limite la largeur du texte pour permettre de l'espace au logo */
}

.intro-text h1 {
    font-size: 4rem; /* Taille du titre */
    margin-bottom: 20px; /* Espace sous le titre */
}

.intro-text p {
    font-size: 1.5rem; /* Taille du sous-titre */
}

.intro-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.large-logo {
    max-width: 80%; /* Assure que le logo est responsive */
    height: auto; /* Maintient les proportions du logo */
    max-height: 300px; /* Limite la hauteur maximale du logo pour éviter qu'il ne devienne trop grand */
}

.offre {
    background-color: #444;
}

.qui-sommes-nous {
    background-color: #555;
}

.contact-container {
    display: flex;
    flex-direction: row; /* Assure une disposition en ligne */
    /*padding: 40px;*/
    margin-top: 50px; /* Ajoute de l'espace au-dessus du conteneur */
    gap: 40px; /* Ajoute de l'espace entre le texte et le formulaire */
}

.contact-header {
    flex: 2;
    max-width: 600px; /* Limite la largeur maximale du texte pour éviter qu'il ne soit trop large */
    padding-left: 0; /* Assure que le padding gauche est nul */
    margin-left: 0; /* Assure que la marge gauche est nulle */
    margin-right: 20px; /* Ajoute un espace entre le texte et le formulaire */
}

.contact-header h2 {
    font-size: 3rem;
    color: #333;
    text-align: left;
    margin-left: 0; /* Assurez-vous que le texte commence à gauche */
}

.contact-header p {
    font-size: 1.2rem;
    color: #333;
    text-align: left;
    margin-left: 0; /* Assurez-vous que le texte commence à gauche */
}

.contact-form {
    flex: 1;
    max-width: 500px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Ajoute un espace entre les champs pour éviter le chevauchement */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
    padding-right: 10px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #888; /* Couleur des labels en gris */
    text-align: left; /* Aligner les labels à gauche */
}

/* Ajustement de la largeur des champs dans .form-row */
.form-row .form-group:first-child {
    width: 40%; /* Largeur du premier champ, ajustée pour éviter le chevauchement */
}

.form-row .form-group:last-child {
    width: 40%; /* Largeur du deuxième champ, ajustée pour éviter le chevauchement */
}

.form-group input, 
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #000; /* Définit la couleur du texte */
    width: 100%;
}

.form-group input::placeholder, 
.form-group textarea::placeholder {
    color: transparent; /* Rendre le texte du placeholder invisible */
    /*color: #999; /* Couleur du texte de remplacement (placeholder) */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    resize: none;
}

.submit-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 4px;
}

.submit-btn:hover {
    background-color: #444;
}

